body {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	color: white;
}

#contentMain {
	width: 800px;
	height: 500px;
	margin: 30px auto 0px auto;
}

canvas {
	width: 100%;
	height: 100%;
}

header {
	height: 100px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 10px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 5px rgba(0,0,0,0.25);
}

nav {
	float: right;
	position: relative;
	height: auto;
	width: 530px;
	margin: auto;
}

nav ul {
	padding: 0px;
	list-style-type: none;
	width: auto;
	margin: auto 0px;
}

nav li {
	position: relative;
	top: 30px;
	float: left;
	width: 150px;
	height: 40px;
}

#dd {
	width: 350px;
	text-shadow: 1px 1px rgba(0,0,0,1);
}

nav li img {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}


#description {
	width: 338px;
	resize: none;
}

#pform {
	display:none;
	position: absolute;
}

#add {
	padding: 5px;
	background-image: url(add_bg.png);
	background-repeat: repeat-x;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#cannedLogin {
	float: right;
	margin: 10px;
}

#cannedLogin a {
	font-weight: bold;
	text-decoration: none;
	color: #ff9933;
}

#cannedLogin a:hover, a:active {
	color: white;
}
	

footer {
	clear: both;
	text-align: center;
	padding: 12px;
}

footer ul {
	list-style-type: none;
	display: inline-block;
}
