#tambo-wrapper{
width:980px;
height:450px;
 
margin:10px;
}
 
.tambo{
    overflow:hidden;
    width:980px;
    height:400px;
    margin-top:10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border:14px solid rgba(0,0,0,1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear:both;
    box-shadow: rgba(0,0,0,.2) 0 4px 4px;
-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
position:relative;
}
.tambo, .tambo >*{
    -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
     -ms-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
}
.tambo:hover{
    border-color:rgba(125,125,125,1);
}
#tambo-wrapper:hover >.tambo:before{
content:'';
position:absolute;
top:40px;
left:20px;
width:8px;
height:20px;
background:red;
box-shadow:14px 0px 0px red;
z-index:44;
}
.tambo:after{
content:'';
position:absolute;
top:38px;
left:28px;
width: 0;
height: 0;
border-top: 12px solid transparent;
border-bottom: 12px solid transparent;
border-left: 12px solid green;
z-index:44;
}
#tambo-wrapper:hover >.tambo::after{
display:none;
}
.tambo >.tambo-container, .tambo >.tambo-container >li{
    padding:0;
    margin:0;
    list-style:none;
}
img{
    width:980px;
    height:400px;
}
ul.tambo-container {
    width:9999999px;
    height:100%;
    background:#aaa;
    position:relative;
    left:0px;
    top:0px;
    -webkit-animation: marginSlide 14s infinite;
    -moz-animation:  marginSlide 14s infinite;
    -ms-animation:   marginSlide 14s infinite;
    -o-animation:   marginSlide 14s infinite;
    animation:   marginSlide 14s infinite;
}
#tambo-wrapper:hover >.tambo >ul.tambo-container {
    -webkit-animation:none;
    -moz-animation:none;
    -ms-animation:   none;
 
}
ul.tambo-container li{
 width:980px;
 height:100%;
 float:left;
 position:relative;
-webkit-box-align: center;
-webkit-box-pack: justify;
-moz-box-align: center;
-moz-box-pack: justify;
box-align: center;
box-pack: justify;
}
ul.tambo-container li:before{
 content:attr(title);
 width:980px;
 height:100px;
 position:absolute;
 bottom:6px;
 left:0px;
 color:rgba(256,256,256,0.9);
 font-weight:900;
 line-height:40px;
 text-align:center;
 text-transform:uppercase;
 background:rgba(0,0,0,0.6);
}
 
#tambo1:checked ~ div.tambo ul.tambo-container{
margin-left: 0px;
}
#tambo2:checked ~ div.tambo ul.tambo-container{
  margin-left: -980px;
}
#tambo3:checked ~ div.tambo ul.tambo-container {
  margin-left: -1960px;
}
#tambo4:checked ~ div.tambo ul.tambo-container{
margin-left: -2940px;
}
#tambo5:checked ~ div.tambo ul.tambo-container{
  margin-left: -3920px;
}
#tambo6:checked ~ div.tambo ul.tambo-container {
   margin-left: -4900px;
}
 
#tambo-wrapper >input#tambo1:checked ~ label.tambo1{
border-color:rgba(0, 150, 150, 0.2);
}
#tambo-wrapper >input#tambo2:checked ~ label.tambo2{
 border-color:rgba(0, 150, 150, 0.2);
 }
#tambo-wrapper >input#tambo3:checked ~ label.tambo3{
 border-color:rgba(0, 150, 150, 0.2);
 }
#tambo-wrapper >input#tambo4:checked ~ label.tambo4{
 border-color:rgba(0, 150, 150, 0.2);
 }
#tambo-wrapper >input#tambo5:checked ~ label.tambo5{
 border-color:rgba(0, 150, 150, 0.2);
 }
#tambo-wrapper >input#tambo6:checked ~ label.tambo6{
 border-color: rgba(0, 150, 150, 0.2);
 }
 
#tambo-wrapper >input{
display:none;
}
#tambo-wrapper >label{
cursor:pointer;
border:4px solid transparent;
margin:10px;
padding:1px 10px;
-webkit-box-shadow: inset -1px 1px 2px 1px #a9a9ab;
-moz-box-shadow: inset -1px 1px 2px 1px #a9a9ab;
box-shadow: inset -1px 1px 2px 1px #a9a9ab;
background: #e0e1e3;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
border-radius: 150px;
}
 
@-webkit-keyframes marginSlide {
     0%,8%{
         margin-left: 0px;
     }
 
     16%,24% {
         margin-left: -980px;
     }
 
     32%,40%{
         margin-left: -1960px;
     }
 
     48%,56%  {
         margin-left: -2940px;
     }
 
    64%,72% {
        margin-left: -3920px;
    }
 
    80%,88% {
        margin-left: -4900px;
    }
    96%,100% {
        margin-left: 0px;
    }
}
@-moz-keyframes marginSlide {
    0%,8%{
         margin-left: 0px;
     }
 
     16%,24% {
         margin-left: -980px;
     }
 
     32%,40%{
         margin-left: -1960px;
     }
 
     48%,56%  {
         margin-left: -2940px;
     }
 
    64%,72% {
        margin-left: -3920px;
    }
 
    80%,88% {
        margin-left: -4900px;
    }
    96%,100% {
        margin-left: 0px;
    }
}
@-ms-keyframes marginSlide {
  0%,8%{
         margin-left: 0px;
     }
 
     16%,24% {
         margin-left: -980px;
     }
 
     32%,40%{
         margin-left: -1960px;
     }
 
     48%,56%  {
         margin-left: -2940px;
     }
 
    64%,72% {
        margin-left: -3920px;
    }
 
    80%,88% {
        margin-left: -4900px;
    }
    96%,100% {
        margin-left: 0px;
    }
}
@-o-keyframes marginSlide {
  0%,8%{
         margin-left: 0px;
     }
 
     16%,24% {
         margin-left: -980px;
     }
 
     32%,40%{
         margin-left: -1960px;
     }
 
     48%,56%  {
         margin-left: -2940px;
     }
 
    64%,72% {
        margin-left: -3920px;
    }
 
    80%,88% {
        margin-left: -4900px;
    }
    96%,100% {
        margin-left: 0px;
    }
 }
@keyframes marginSlide {
 0%,8%{
         margin-left: 0px;
     }
 
     16%,24% {
         margin-left: -980px;
     }
 
     32%,40%{
         margin-left: -1960px;
     }
 
     48%,56%  {
         margin-left: -2940px;
     }
 
    64%,72% {
        margin-left: -3920px;
    }
 
    80%,88% {
        margin-left: -4900px;
    }
    96%,100% {
        margin-left: 0px;
    }
  }